<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="Hotkey" value="Ctrl+Q"/>
    <add key="SenderName" value="Ivan"/>
    <add key="SenderEmail" value="vani172@gmail.com"/>
    <add key="RecipientName" value="NirvanaHq"/>
    <add key="RecipientEmail" value="bc13127ea6@nirvanahq.in"/>
    <add key="EmailBody" value=""/>
  </appSettings>
</configuration>
